
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 1000px;
    background-color: blue;
    border: 4px dashed orange;
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    background-color: blueviolet;
    width: 1000px;
}

.rpsButton{
    height: 50px;
    width: 100px;
    color:  red;
    border-radius: 20px;
    background-color: orange;
}