
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3b82f6; 
    font-family: 'Bangers', cursive, sans-serif;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 1000px;
    background-color: #3b82f6;
    border: 4px dashed orange;
    color: whitesmoke;
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;

    width: 1000px;
    
}

.rpsButton{
    height: 50px;
    width: 100px;
    color:  red;
    border-radius: 20px;
    background-color: orange;
    font-family: 'Bangers', cursive, sans-serif;
    border: 4px dashed #e63946;
}

.imgButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgButton > img{
    height: 125px;
    width: 150px;
    margin-bottom: 5px;
    border: 4px dashed orange
}

.screen{
    display: flex;
    width: 1000px;
    height: 320px;
    justify-content: space-evenly;
}

.mainInfo{
    font-size: larger;
    text-align: center;
    width: 525px;
}

.scoreBox{
    display:flex;
    flex-direction: column;
    color: red;
}

.scoreBox > h2{
    color: orange;
}

.scoreCounter{
    text-align: center;
    font-size: 90px;
    font-family: 'Orbitron', 'Courier New', monospace;
}

