
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: lightcyan;
}

.mainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 1000px;
    background-color: blue;
    border: 4px dashed orange;
    color: whitesmoke;
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    background-color: blueviolet;
    width: 1000px;
}

.rpsButton{
    height: 50px;
    width: 100px;
    color:  red;
    border-radius: 20px;
    background-color: orange;
}

.imgButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgButton > img{
    height: 125px;
    width: 150px;
    margin-bottom: 5px;
}

.screen{
    display: flex;
    width: 1000px;
    height: 320px;
    justify-content: space-evenly;
}

.scoreBox{
    display:flex;
    flex-direction: column;
}

.scoreCounter{
    text-align: center;
    font-size: 90px;
}